@use "./_colors.scss";
@use "./base.scss";

$f-size: 1.4rem;

*:focus {
  outline: 0px none transparent;
}

::selection {
  background-color: colors.$orange;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  font-size: $f-size;
  gap: 60px;

  a,
  input,
  button {
    transition: 0.4s;
  }

  button {
    font-size: $f-size;
  }

  input {
    font-size: $f-size;
  }
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

a,
.orange {
  text-decoration: none;
  color: colors.$orange;
  padding: 3px;
  &::selection {
    background-color: white;
  }
}

.error {
  color: red;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(29, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  // #app {
  //   display: grid;
  //   grid-template-columns: 1fr 1fr;
  //   padding: 0 2rem;
  // }
}
