@use "./_colors.scss";
@use "./base.scss";

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
  gap: 60px;
}

a,
.green {
  text-decoration: none;
  color: colors.$orange;
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(29, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  // #app {
  //   display: grid;
  //   grid-template-columns: 1fr 1fr;
  //   padding: 0 2rem;
  // }
}
